@model List<Ecommerce.Models.Entities.HeroImages>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger text-center wow zoomInUp" role="alert" data-wow-delay="0.1s">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>¡Ups!..</strong> @ViewBag.Message &#128577;
    </div>
}


@if (Model.Count > 0)
{
    <div id="carousel" class="slide carousel carousel-fade">
        <div class="carousel-inner">
            @{var index = 0;
                foreach (var item in Model)
                {
                    if (item.Enable)
                    {
                        <div class='item @(index == 0 ? "active" : string.Empty)'>
                            <img loading="lazy" src="@Url.Content($"/{item.ImageURL}")" alt="sliderImg" />
                            @if (item.ShowSpan)
                            {
                                <div class="container">
                                    <div class="carousel carousel-caption">
                                        <h2>@item.SpanText</h2>
                                        <h3>@item.SpanComplementText</h3>
                                    </div>
                                </div>
                            }

                            @if (item.HasButton)
                            {
                                <div class="container">
                                    <div class="carousel carousel-caption">
                                        <button onclick="location.href='@item.ButtonURL'" class="sliderButton2"></button>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    index++;
                }
            }
            <a class="carousel-control right" href="#carousel" data-slide="next" id="idNextSlider">
                <span class="fa fa-angle-right m-control-right"></span>
            </a>
            <a class="carousel-control left" href="#carousel" data-slide="prev">
                <span class="fa fa-angle-left m-control-left"></span>
            </a>
        </div>
    </div>
}