<ul class="navbar-nav-menu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle='dropdown' href="#">Tiendas <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu h-nav">
            <li>@Html.ActionLink("Ford", "Index", "Ford")</li>
            @*<li>@Html.ActionLink("Mazda", "Index", "Mazda")</li>*@
            <li>@Html.ActionLink("Massey Ferguson", "Index", "MasseyFerguson")</li>
            <li>@Html.ActionLink("Carshow - Vehículos usados", "Index", "Carshow")</li>
            <li>@Html.ActionLink("Repuestos", "Index", "Repuestos")</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle='dropdown' href="#">Massey Ferguson <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu h-nav">
            <li>@Html.ActionLink("¿Quiénes somos?", "MasseyQuienesSomos", "Pages")</li>
            <li>@Html.ActionLink("Filosofía", "MasseyFilosofia", "Pages")</li>
            <li>@Html.ActionLink("Valores", "MasseyValores", "Pages")</li>
            <li>@Html.ActionLink("Club de operadores", "MasseyClubOperadores", "Pages")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle='dropdown' asp-action="Index" asp-controller="Info">Acerca de nosotros <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu h-nav">
            <li>@Html.ActionLink("Bienvenidos a Motovalle", "Index", "Info")</li>
            <li>@Html.ActionLink("Sedes", "Sedes", "Info")</li>
            <li>@Html.ActionLink("Trabaja con nosotros", "TrabajeConNosotros", "Info")</li>
            <li><a asp-action="Privacy" asp-controller="Home" rel="noreferrer">Aviso de privacidad</a></li>
            <li><a asp-action="LegalInformation" asp-controller="Home" rel="noreferrer">Políticas e información legal</a></li>
            <li><a href="~/files/POLITICA DATOS PERSONALES MOTOVALLE[2336].pdf" rel="noreferrer" target="_blank">Política de Tratamiento de Datos</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle='dropdown' asp-action="ContactUs" asp-controller="Info">Contáctenos <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu h-nav">
            <li>@Html.ActionLink("Contáctenos", "ContactUs", "Info")</li>
            <li><a href="https://t.almeraim.com/form?data=eyJhcGlrZXkiOiI4QjI3RTJCRTRCMEQ5QThGMjhCQzMxNUE2MzdCNTAyQTI3Njg3MDBGODJCMEI3RUMwRThCMzAxQzc5MUIzQkNDIiwiY29ubmVjdGlvbiI6InNnaW1vdG92YWxsZSIsImVuZHBvaW50IjoiaHR0cHMlM0ElMkYlMkZzZ2kuYWxtZXJhaW0uY29tJTJGc2dpJTJGYXBpJTJGdjIlMkYiLCJjb2RlIjoiMDAxIn0=" target="_blank" rel="noreferrer">PQRS</a></li>
            <li><a href="~/files/Formato Reclamacion.pdf" target="_blank" rel="noreferrer">Reclamación tratamiento de datos</a></li>
        </ul>
    </li>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("ADMIN") || User.IsInRole("BLOGADMIN")))
    {
        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
    }
</ul>