<title>@TempData["Title"] - Tienda Motovalle</title>
<meta name="keywords" content="@TempData["Keywords"]">
<meta name="description" content="@TempData["Description"]" />
<meta name="author" content="Innova Marketing Systems S.A.S" />
<meta name="image" content="https://tiendamotovalle.com/media/brands/motovalle-logo65-squre-black.jpg" />
<meta name="thumbnail" content="https://tiendamotovalle.com/media/brands/motovalle-logo65-squre-black.jpg" />

<meta property="og:title" content="@TempData["Title"] - Tienda Motovalle">
<meta property="og:site_name" content="Tienda Motovalle">
<meta property="og:type" content="website" />
<meta property="og:url" content="https://tiendamotovalle.com/">
<meta property="og:image" content="https://tiendamotovalle.com/media/brands/motovalle-logo65-squre-black.jpg">
<meta property="og:image:secure_url" content="https://tiendamotovalle.com/media/brands/motovalle-logo65-squre-black.jpg" />
<meta property="og:description" content="@TempData["Description"]">
<meta name="twitter:card" content="@TempData["Description"]" />
<meta name="twitter:image" content="https://tiendamotovalle.com/media/brands/motovalle-logo65-squre-black.jpg" />
<meta name="twitter:site" content="https://tiendamotovalle.com/" />
<meta name="twitter:title" content="@TempData["Title"] - Tienda Motovalle" />
<meta name="twitter:description" content="@TempData["Description"]" />