@using inventek_blog.Models.Entities;
@model List<Posts>

<div class="wow zoomInLeft">
    <div class="row">
        @if (Model.Count > 0)
        {
            @foreach (var post in Model)
            {
                <div class="col-sm-4 col-xs-12">
                    <div class="b-world__item wow zoomInLeft" data-wow-delay="0.2s" data-wow-offset="100">
                        <img src="@post.ImageURL" alt="@post.Title" class="img-responsive" height="180px" width="340px">
                        <h2 style="margin-top:1em;">
                            @post.Title
                            @if (post.Title.Length < 48)
                            {
                                <br /><br />
                            }
                        </h2>
                        <p class="text-justify">
                            @string.Concat(post.ShortDescription, "...")
                        </p>
                        <a asp-action="Post" asp-controller="Blog" asp-route-id="@post.PostsId" class="btn m-btn"> LEER MÁS<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <h3><a asp-controller="Blog" asp-action="Index" class="btn m-btn" style="border-color:#cacaca;">Ver Todos Los Artículos<span class="fa fa-angle-right"></span></a></h3>
    </div>
</div>